.box1{
   display: flex;
  
   align-items: center;
   padding: 1em;


}
.box1 div{
    display: flex;
    flex-direction: column;
    
    
    gap: 10px;
    max-width: 800px;
    margin: 5%;
}
.box1 i{
   
    font-size: 64px;
    animation: mudarCor 3s ease-in-out infinite;
}
@keyframes mudarCor{
    0%{
        color: rgb(255, 255, 255);
    }
    50%{
        color: rgb(255, 255, 255);
    }
    100%{
        color: rgb(189, 15, 15);
    }
}
.box1 p{
    font-weight: 500;
    display: flex;
    gap: 10px;
}
.information{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 800px;
    margin: 10%;

}
.information ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*estilos */
.container-estilos{
    border-top: 1px   solid rgb(0, 0, 0);
    border-bottom: 1px   solid rgb(0, 0, 0);
    display: flex;
    
   
    padding: 1em;
    margin: 20%  0;
}

.container-estilos figure img{
    width: 300px;
    border-radius: 24px;
    
    filter: saturate(0);
}


.container-estilos figure img:hover{
    filter: saturate(1);
}
.container-estilos .box-txt{
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;
    
    margin: 0 auto;
}

/*valores*/
.container-value{
    display: flex;
    flex-direction: column;
   
    font-size: 44px;
}
.container-value h2{
    
    text-align: center;

}
.box-card{
    display: flex;

    justify-content: space-evenly;
    
    margin: 5%;
   
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card figcaption{
    font-size: small;
    text-align: center;
}
.card img{
    width: 250px;
    height: 300px;
    border-radius: 24px;
    filter: saturate(0);
}
.card-txt,.card-txt2,.card-txt3{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
   
}
.box-card span{
    font-weight: 800;
    font-style: italic;
}


/*estilos globais*/

img:hover{
    filter: saturate(1);
}